.Galery{
    width: 100%;
    margin: auto;
    min-height: 700px;
}

.Galery > .carrossel-livro{
    width: 1100px;
    margin: auto;
    min-height: 700px;
    position: relative;

}
.caixaLivros > .Voltar{
    width: 30px;
    height: 30px;
    top: 100px;
    position: relative;
    left: 50px;
}
.caixaLivros > .Voltar >svg{
    width: 30px;
    height: 30px;
    top: 0px;
    position: absolute;
}

.carrossel-livro-destaque{
    width: 1200px;
    margin: auto;
    min-height: 700px;
    top: 70px;
    position: relative;

}
.carrossel-livro-destaque .Voltar> svg{
    width: 30px;
    height: 30px;
    top: 30px;
    position: relative;
}

.Galery > .caixaLivros{
    width: 1200px;
    margin: auto;
  
}

.Galery > .caixaLivros > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
}


.Galery > .caixaLivros-Historia{
    width: 1200px;
    margin: auto;
    top: 100px;
    min-height: 2600px;
    position: relative;
}

.Galery > .caixaLivros-Historia > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-aventura{
    width: 1200px;
    margin: auto;
    position: relative;
    top: 100px;
    min-height: 2600px;

}

.Galery > .caixaLivros-aventura > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;

}

.Galery > .caixaLivros-Infantil{
    width: 1200px;
    margin: auto;
    top: 100px;
    position: relative;
    min-height: 2600px;

}

.Galery > .caixaLivros-Infantil > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-Literatura{
    width: 1200px;
    margin: auto;
    top: 100px;
    position: relative;
    min-height: 2600px;

}

.Galery > .caixaLivros-Literatura > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-Religiao{
    width: 1200px;
    margin: auto;
    top: 100px;
    position: relative;
    min-height: 2600px;

}

.Galery > .caixaLivros-Religiao > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-Romance{
    width: 1200px;
    margin: auto;
    top: 100px;
    position: relative;
    min-height: 2600px;

}

.Galery > .caixaLivros-Romance > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}


@media (max-width:1279px) and (min-width:426px) {

.Galery-livros>.Galery{
    width: 1279px;
    margin: auto;
    min-height: 700px;
}

.Galery-livros{
    width: 1279px;
    margin: auto;
    min-height: 700px;
}

.Galery-filmes>.Galery{
    width: 1279px;
    margin: auto;
    min-height: 700px;
}

.Galery-filmes{
    width: 1279px;
    margin: auto;
    min-height: 700px;
}

.Galery-Logos>.Galery{
    width: 1279px;
    margin: auto;
    min-height: 700px;
}

.destaque-Logos{
    position: relative;
    top: 100px;
}

.Galery-Logos{
    width: 1279px;
    margin: auto;
    min-height: 700px;
}

.Galery > .carrossel-livro{
    width: 1100px;
    margin: auto;
    min-height: 700px;
    position: relative;

}

.carrossel-livro-destaque{
    margin: auto;
    height: 700px;
    width: 1100px !important;
    top: 70px !important;
    position: relative;

}
.Galery>.carrossel-livro-destaque>.destaque-livros>.BrainhubCarousel__container > .BrainhubCarousel {
    width: 1100px !important;
    margin: auto;
    height: 500px;

}
.Galery>.carrossel-livro-destaque>.destaque-livros>.BrainhubCarousel__container {
    width: 1100px !important;
    margin: auto;
    height: 500px;
}
.destaque-livros{
    margin: auto;
    min-height: 700px;
    top: 100px !important;
    position: relative;
    width: 1100px !important;


}
.carrossel-livro-destaque .Voltar> svg{
    width: 30px;
    height: 30px;
    top: 30px;
    position: relative;
}

.Galery > .caixaLivros{
    width: 1279px !important;
    margin: auto;
    margin: 0px 0px !important;
    left: 0px;
    position: relative;

  
}

.Galery > .caixaLivros > div{
    width: 1200px !important;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    box-shadow: 1px 1px 0px 1px #fff !important;
    border: solid 1px #fff !important;
}


.Galery > .caixaLivros-Historia{
    width: 1200px;
    margin: auto;
    min-height: 2700px;
    top: 150px;
    position: relative;
}

.Galery > .caixaLivros-Historia > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-aventura{
    width: 1200px;
    margin: auto;
    position: relative;
    top: 150px;
    min-height: 2700px;

}

.Galery > .caixaLivros-aventura > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;

}

.Galery > .caixaLivros-Infantil{
    width: 1200px;
    margin: auto;
    position: relative;
    min-height: 2700px;
    top: 150px;


}

.Galery > .caixaLivros-Infantil > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-Literatura{
    width: 1200px;
    margin: auto;
    position: relative;
    min-height: 2700px;
    top: 150px;

}

.Galery > .caixaLivros-Literatura > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-Religiao{
    width: 1200px;
    margin: auto;
    position: relative;
    min-height: 2700px;
    top: 150px;
}

.Galery > .caixaLivros-Religiao > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}

.Galery > .caixaLivros-Romance{
    width: 1200px;
    margin: auto;
    position: relative;
    min-height: 2700px;
    top: 150px;
}

.Galery > .caixaLivros-Romance > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}


}


@media (max-width:425px) {


    .Galery{
        width: 400px !important;
        margin: auto;
        min-height: 700px;
    }

   
    
    .Galery > .carrossel-livro{
        width: 1000px !important;
        margin: auto;
        min-height: 700px;
        position: relative;
    
    }
    
    .carrossel-livro-destaque{
        width: 400px !important;
        margin: auto;
        min-height: 700px;
        top: 70px;
        position: relative;
    
    }
    .carrossel-livro-destaque .Voltar> svg{
        width: 30px;
        height: 30px;
        top: 30px;
        position: relative;
    }
    
    .Galery > .caixaLivros{
        width: 400px !important;
        margin: auto;
      
    }
    
    .Galery > .caixaLivros > div{
        width: 400px !important;
        height: 500px;
        margin: 10px 0px !important;
        margin: auto;
        background-color:#e0e0e0;
    }
    
    .Galery > .caixaLivros-Historia {
        width: 400px;
        margin: auto;
        top: 100px;
        min-height: 2650px !important;
        position: relative;
    }
    
    .Galery > .caixaLivros-Historia > .Historia{
        width: 400px;
        margin: auto;
        min-height: 1000px;
        position: relative;

    }
    
    
    .Galery > .caixaLivros-Historia > div{
        width: 400px;
        height: 500px;
        margin: auto;
        top: 50px;
        background-color:#e0e0e0;
        box-shadow: 1px 1px 0px 10px #fff;
        



    
    }
    
    .Galery > .caixaLivros-aventura{
        width: 400px;
        margin: auto;
        top: 100px;
        min-height: 2650px !important;
        position: relative;
    
    }
    
    .Galery > .caixaLivros-aventura > div{
        width: 400px;
        height: 500px;
        margin: auto;
        top: 50px;
        background-color:#e0e0e0;
        box-shadow: 1px 1px 0px 10px #fff;
    }
    
    .Galery > .caixaLivros-Infantil{
        width: 400px;
        margin: auto;
        top: 100px;
        min-height: 2650px !important;
        position: relative;
    
    }
    
    .Galery > .caixaLivros-Infantil > div{
        width: 400px;
        height: 500px;
        margin: auto;
        top: 50px;
        background-color:#e0e0e0;
        box-shadow: 1px 1px 0px 10px #fff;
    
    }
    
    .Galery > .caixaLivros-Literatura{
        width: 400px;
        margin: auto;
        top: 100px;
        min-height: 2650px !important;
        position: relative;
    
    }
    
    .Galery > .caixaLivros-Literatura > div{
        width: 400px;
        height: 500px;
        margin: auto;
        top: 50px;
        background-color:#e0e0e0;
        box-shadow: 1px 1px 0px 10px #fff;
    
    }
    
    .Galery > .caixaLivros-Religiao{
        width: 400px;
        margin: auto;
        top: 100px;
        min-height: 2650px !important;
        position: relative;
    
    }
    
    .Galery > .caixaLivros-Religiao > div{
        width: 400px;
        height: 500px;
        margin: auto;
        top: 50px;
        background-color:#e0e0e0;
        box-shadow: 1px 1px 0px 10px #fff;
    
    }
    
    .Galery > .caixaLivros-Romance{
        width: 400px;
        margin: auto;
        top: 100px;
        min-height: 2650px !important;
        position: relative;
    
    }
    
    .Galery > .caixaLivros-Romance > div{
        width: 400px;
        height: 500px;
        margin: auto;
        top: 50px;
        background-color:#e0e0e0;
        box-shadow: 1px 1px 0px 10px #fff;
    
    }


}


@media (max-width:1000px) and (min-width:426px) {


    

}
