.div-forgot-password{
    width: 100%;
    background-color: #00337C;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
    display: flex;
}
.div-forgot-password-center > .Voltar {
    width: 30px;
    height: 30px;
    top: 0px;
    left: 50px;
    display: flex;
    transform: translateX(0px);
    position: absolute;

}
.div-forgot-password-center > .Voltar > svg{
    width: 30px;
    height: 30px;
    top: 30px;
    left: 0px;
    display: flex;
    position: relative;

}

.formulario-forgot-password > h4{
    width: 300px;
    margin: auto;
    border: none;
    box-shadow: none;
    text-align: left;
    font-size: 15px;
    padding: 10px 0px;
}

.div-forgot-password-center{
    width: 400px;
    padding: 0px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color:#fff;
    border-radius: 10px;
}

.div-forgot-password-image{

    width: 200px;
    padding: 0px;
    height: 80px;
    position: relative;
    display: flex;
    margin: auto;
    top: 0px;
    background-color: #fff;
    border: 1px solid #fff;
}

.div-forgot-password-image > img{

    width: 60px;
    padding: 0px;
    height: 60px;
    position: relative;
    display: flex;
    margin: auto;
    top:10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;

}

.formulario-forgot-password{
    width: 400px;
    padding: 0px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;

}

.formulario-forgot-password > label{
    width: 300px;
    position: relative;
    display: flex;
    margin: 5px auto;
    flex-direction: column;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.formulario-forgot-password > label > input{
    width: 300px;
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    padding: 7px 0px;
    border-radius: 5px;

}


.formulario-forgot-password > button{
    width: 130px;
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    padding: 10px 0px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    top: -2px;

}
.formulario-forgot-password > button > b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    width: 125px;
    text-align: center;

}


@media (max-width:425px) {

    .div-forgot-password{
        width: 100%;
        background-color: #00337C;
        margin: 0px;
        padding: 0px;
        height: 900px !important;
        position: relative;
        display: flex;
    }
    
    .div-forgot-password-center > .Voltar {
        width: 50px;
        height: 50px;
        top: 0px;
        left: 50px;
        display: flex;
        transform: translateX(0px);
        position: absolute;
    
    }
    .div-forgot-password-center > .Voltar > svg{
        width: 50px !important;
        height: 50px !important;
        top: 30px;
        left: -20px;
        display: flex;
        position: relative;
    
    }

    .formulario-forgot-password > h4{
        width: 350px;
        text-align: left;
    }
    
    .div-forgot-password-center{
        width: 400px;
        padding: 0px;
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        background-color:#fff;
        border-radius: 10px;
        height: 800px;
    }
    
    .div-forgot-password-image{
    
        width: 200px;
        padding: 0px;
        height: 100px;
        position: relative;
        display: flex;
        margin: auto;
        top: 50px;
        
    }
    
    .div-forgot-password-image > img{
    
        width: 100px;
        padding: 0px;
        height: 100px;
        position: relative;
        display: flex;
        margin: auto;
        top:10px;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: none;
    
    }
    
    .formulario-forgot-password{
        width: 400px;
        padding: 0px;
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        border-radius: 0px;
        height: 350px;
        top: -80px;

    
    }
    
    .formulario-forgot-password > label{
        width: 350px;
        position: relative;
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        font-size: 18px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: 20px;
    
    }
    
    .formulario-forgot-password > label > input{
        width: 350px;
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        padding: 7px 0px;
        border-radius: 5px;
        font-size: 18px !important;
    
    }
    
    
    .formulario-forgot-password > button{
        width: 150px;
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        padding: 15px 0px;
        position: relative;
        text-align: center;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
        top: 20px;


    
    }
    .formulario-forgot-password > button > b{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        width: 150px;
        text-align: center;
    
    }
    
    .div-forgot-password-link{
        width: 300px;
        position: relative;
        display: flex;
        margin: 10px auto;
        flex-direction:row;
        top: -55px;
    }
    
    .div-forgot-password-link > .Link1{
        width: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        color: black;
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 23px;
    
    }
    .div-forgot-password-link > .Link2{
        width: 150px;
        position: relative;
        flex-direction: column;
        flex-direction: row;
        color: black;
        text-align:right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 23px;
    
    }
}

@media (max-width:1000px) and (min-width:426px) {

    .div-forgot-password{
        width: 1000px;
        background-color: #00337C;
        margin: 0px;
        padding: 0px;
        height: 1500px !important;
        position: relative;
        display: flex;
    }
    
    .div-forgot-password-center > .Voltar {
        width: 80px !important;
        height: 80px !important;
        top: 0px;
        left: 50px;
        display: flex;
        transform: translateX(0px);
        position: absolute;
        left: 30px !important;

    
    }
    .div-forgot-password-center > .Voltar > svg{
        width: 80px !important;
        height: 80px !important;
        top: 30px;
        left: 0px;
        display: flex;
        position: relative;
    
    }
    
    .div-forgot-password-center{
        width: 900px;
        padding: 0px;
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        background-color:#fff;
        border-radius: 10px;
        height: 1100px;
    }
    
    .div-forgot-password-image{
    
        width: 200px;
        padding: 0px;
        height: 100px;
        position: relative;
        display: flex;
        margin: auto;
        top: 0px;
        
    }
    
    .div-forgot-password-image > img{
    
        width: 150px;
        padding: 0px;
        height: 150px;
        position: relative;
        display: flex;
        margin: auto;
        top:10px;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: none;
    
    }
    
    .formulario-forgot-password{
        width: 700px;
        padding: 0px;
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        border-radius: 0px;
        height: 300px;
        top: -200px;

    
    }
    
    .formulario-forgot-password > label{
        width: 700px;
        position: relative;
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: 20px;
        font-size: 25px;

    
    }
    
    .formulario-forgot-password > label > input{
        width: 700px;
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        padding: 15px 0px;
        border-radius: 5px;
        font-size: 25px;
    
    }
    
    
    .formulario-forgot-password > button{
        width: 200px;
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        padding: 15px 0px;
        position: relative;
        text-align: center;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
        top: 50px;


    
    }
    .formulario-forgot-password > h4{
        position: relative;
        top: 0px;
        text-align: left;
        width: 700px;
        font-size: 25px;
        box-shadow: none !important;
        border: 0px;

    }
    .formulario-forgot-password > button > b{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        width: 200px;
        text-align: center;
        font-size: 25px;
    
    }
    
    .div-forgot-password-link{
        width: 300px;
        position: relative;
        display: flex;
        margin: 10px auto;
        flex-direction:row;
        top: -55px;
    }
    
    .div-forgot-password-link > .Link1{
        width: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        color: black;
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 23px;
    
    }
    .div-forgot-password-link > .Link2{
        width: 150px;
        position: relative;
        flex-direction: column;
        flex-direction: row;
        color: black;
        text-align:right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 23px;
    
    }
}


