 .carrossel > div {

    width: 400px;
    height: 300px;
    position: relative;
    margin: 0px 10px;
    
}

 div > img {

    width: 500px;
    height: 300px;
    margin: 0px;
    top: 0px;

}



.div-Id-livro{
    width: 100%;
    height: 700px;
}

.div-inf-livro{
    width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    position: relative;

}

.center-infor-livro{
    width: 800px;
    background-color: #00337C;
    margin: auto;
    
}

.div-caixa-img{
    width: 800px;
    background-color: transparent;
    display: flex;
    margin: 1px 1px;
    position: relative;

}
.div-caixa-img > img{
    width: 800px;
    height: 300px;
    background-color: transparent;
    display: flex;
    margin: 1px 1px;
    position: relative;
}

.div-img-id > img{
    width: 350px;
    height: 300px;
    background-color: transparent;
    display: flex;
    left: 1px;
    top: 1px;
    position: relative;}

.card >.card-body >.card-genero-1,.card-genero-2,.card-genero-3,.card-genero-4,.card-genero-5,.card-genero-6{
    width: 90px;
    height: 30px;
    position:absolute;
    right: 0;
    bottom: 5px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    text-align: right;
    background-color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card >.card-body >.card-genero-1 > b{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom:5px;
    font-size: 18px;
    text-align: center;
    color:teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card >.card-body >.card-genero-2 > b{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom:5px;
    font-size: 18px;
    text-align: center;
    color:green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card >.card-body >.card-genero-3 > b{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom:5px;
    font-size: 18px;
    text-align: center;
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card >.card-body >.card-genero-4 > b{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom:5px;
    font-size: 18px;
    text-align: center;
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card >.card-body >.card-genero-5 > b{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom:5px;
    font-size: 18px;
    text-align: center;
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card >.card-body >.card-genero-6 > b{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom:5px;
    font-size: 18px;
    text-align: center;
    color:rgb(238, 32, 211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-date{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    top:5px;
    font-size: 15px;
    color: tomato;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.card-body{
    width: 300px;
    margin: auto;
    position: relative;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-body >.Btn-livro > button{
    padding: 10px;
    width: 150px;
    top: 15px;
    position: relative;
    right: 15px;
    border: solid 1px #fff;

}

.card-title{
    width: 300px;
    height: 30px;
    font-size: 15px;
    margin: auto;
    display: flex;
    position: relative;
    left: -15px;
    top: 15px;
}

.card-text{
    width: 300px;
    height: 70px;
    font-size: 15px;
    left: -15px;
    position: relative;
    top: 15px;
    color: #fff;
    text-align: left;


}


.card{
    width: 320px;
    height: 450px;
    font-size: 15px;
    background-color: #00337C;
    color: #fff;
    margin: 25px 0px; 

}
.card > img{
    width: 320px;
    height: 250px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    position: relative;
    right: 1px;




}
.div-inf-id {
    width: 400px;
    height: 290px;
    background-color: transparent !important;
    margin: auto;
    top: -10px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.div-inf-id > p {
      margin: auto;
      margin: 4px 0px;
      font-size: 15px;
      box-shadow: 0px 1px 0px #FFF;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.description-id{
    width: 800px;
    background-color: transparent !important;
    height: 80px;
}

.description-id > .div-descricao-id{
    width: 900px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 1px 0px #FFF;
    background-color: transparent;
    margin: 0px 10px ;
    color: #FFF;
    background-color: #00337C;
    font-size: 16px !important;
    display: flex;


}

.description-id > .div-descricao-id > h5{
   
    font-size: 15px !important;
    display: flex;


}

.description-id > a > .button-livro-id{
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 0px;
    position: absolute !important;
    left: 365px;
    top: -55px;
    font-size: 15px !important;


}

.description-id > a > .button-livro-id > button{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 0px;
    margin: 10px;
    position:absolute;

}

.div-voltar .Voltar > svg{
    width: 30px;
    height: 30px;
    top: 0px;
    position: absolute;
}

.div-voltar{
    width: 30px;
    height: 30px;
    top: 100px;
    position: relative;
    left: 50px;
}

.opcoesLivros{
    width: 1200px !important;
    height: 500px;
    margin: auto;
}

.opcoesLivros >.div-livros{
    width: 1200px !important;
    height: 500px;
    margin: auto;
}

.carrossel-mobile {

    display: none;

}

#button-pesquisa{
    position: absolute;
    z-index: 0;
    height: 70px;
    margin-top: 25px;
}



@media (max-width:425px) {

    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    
     div > img {
    
        width: 500px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
    }
    
    .div-inf-livro{
        width: 1200px;
        height: 700px;
        margin: auto;
        display: flex;
        position: relative;
    
    }
    
    .center-infor-livro{
        width: 800px;
        background-color: #00337C;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 800px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    
    }
    .div-caixa-img > img{
        width: 800px;
        height: 300px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        background-color: transparent;
        display: flex;
        left: 1px;
        top: 1px;
        position: relative;}
    
    .card >.card-body >.card-genero-1,.card-genero-2,.card-genero-3,.card-genero-4,.card-genero-5,.card-genero-6{
        width: 90px;
        height: 30px;
        position:absolute;
        right: 0;
        bottom: 5px;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        text-align: right;
        background-color: #FFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .card >.card-body >.card-genero-1 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:teal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .card >.card-body >.card-genero-2 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:green;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-3 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 16px;
        text-align: center;
        color:red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-4 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-5 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:blueviolet;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-6 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:rgb(238, 32, 211);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    

    #button-pesquisa{
        position: absolute;
        z-index:0;
        height: 70px;
    }


    .card-body{
        width: 300px;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 15px !important;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    
    }
    
    .card-title{
        width: 250px !important;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px !important;
        top: 15px;
    }
    
    .card-text{
        width: 300px;
        height: 60px !important;
        font-size: 15px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    
    .card{
        width: 320px;
        height: 450px;
        font-size: 15px;
        background-color: #00337C;
        color: #fff;
        margin: 25px 0px;
        box-shadow: 0px 0px 0px 3px #000;


    
    }
    .card > img{
        width: 320px;
        height: 250px;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        position: relative;
        right: 1px;
        box-shadow: 0px 0px 0px 3px #000;

    
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: transparent !important;
        margin: auto;
        top: -10px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .div-inf-id > p {
          margin: auto;
          margin: 4px 0px;
          font-size: 15px;
          box-shadow: 0px 1px 0px #FFF;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .description-id{
        width: 800px;
        background-color: transparent !important;
        height: 80px;
    }
    
    .description-id > .div-descricao-id{
        width: 900px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 0px 1px 0px #FFF;
        background-color: transparent;
        margin: 0px 10px ;
        color: #FFF;
        background-color: #00337C;
        font-size: 16px !important;
        display: flex;
    
    
    }
    
    .description-id > .div-descricao-id > h5{
       
        font-size: 15px !important;
        display: flex;
    
    
    }
    
    .description-id > a > .button-livro-id{
        width: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 0px;
        position: absolute !important;
        left: 365px;
        top: -55px;
        font-size: 15px !important;
    
    
    }
    
    .description-id > a > .button-livro-id > button{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 0px;
        margin: 10px;
        position:absolute;
    
    }

    .div-inf-livro>.div-voltar .Voltar > svg > path{
        width: 56px !important;
        height: 40px !important;
        


    }
    
    .div-inf-livro>.div-voltar .Voltar > svg{
        width: 56px !important;
        height: 40px !important;
        top: 4px;
        position:absolute !important;
        z-index: 3000;
        color: #fff;


    }
    
    .div-inf-livro>.div-voltar{
        width: 56px !important;
        height: 40px !important;
        position: fixed !important;
        z-index: 3000;
        top: 12px;
        left: 10px;
    }
    
    .opcoesLivros{
        width: 1200px !important;
        height: 500px;
        margin: auto;
    }
    
    .opcoesLivros >.div-livros{
        width: 1200px !important;
        height: 500px;
        margin: auto;
    }

}



@media (max-width:1000px) and (min-width:426px) {

    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    
     div > img {
    
        width: 500px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
    }
    
    .div-inf-livro{
        width: 1200px;
        height: 700px;
        margin: auto;
        display: flex;
        position: relative;
    
    }
    
    .center-infor-livro{
        width: 800px;
        background-color: #00337C;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 800px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    
    }
    .div-caixa-img > img{
        width: 800px;
        height: 300px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        background-color: transparent;
        display: flex;
        left: 1px;
        top: 1px;
        position: relative;}
    
    .card >.card-body >.card-genero-1,.card-genero-2,.card-genero-3,.card-genero-4,.card-genero-5,.card-genero-6{
        width: 90px;
        height: 30px;
        position:absolute;
        right: 0;
        bottom: 5px;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        text-align: right;
        background-color: #FFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .card >.card-body >.card-genero-1 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:teal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .card >.card-body >.card-genero-2 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:green;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-3 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-4 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-5 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:blueviolet;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card >.card-body >.card-genero-6 > b{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom:5px;
        font-size: 18px;
        text-align: center;
        color:rgb(238, 32, 211);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-body{
        width: 300px;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 15px !important;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    
    }
    
    .card-title{
        width: 250px !important;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px !important;
        top: 15px;
    }
    
    .card-text{
        width: 300px;
        height: 60px !important;
        font-size: 15px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    
    .card{
        width: 320px;
        height: 450px;
        font-size: 15px;
        background-color: #00337C;
        color: #fff;
        margin: 25px 0px;
        box-shadow: 0px 0px 0px 3px #fff;


    
    }
    .card > img{
        width: 320px;
        height: 250px;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        position: relative;
        right: 1px;
        box-shadow: 0px 0px 0px 3px #fff;

    
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: transparent !important;
        margin: auto;
        top: -10px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .div-inf-id > p {
          margin: auto;
          margin: 4px 0px;
          font-size: 15px;
          box-shadow: 0px 1px 0px #FFF;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .description-id{
        width: 800px;
        background-color: transparent !important;
        height: 80px;
    }
    
    .description-id > .div-descricao-id{
        width: 900px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 0px 1px 0px #FFF;
        background-color: transparent;
        margin: 0px 10px ;
        color: #FFF;
        background-color: #00337C;
        font-size: 16px !important;
        display: flex;
    
    
    }
    
    .description-id > .div-descricao-id > h5{
       
        font-size: 15px !important;
        display: flex;
    
    
    }
    
    .description-id > a > .button-livro-id{
        width: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 0px;
        position: absolute !important;
        left: 365px;
        top: -55px;
        font-size: 15px !important;
    
    
    }
    
    .description-id > a > .button-livro-id > button{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 0px;
        margin: 10px;
        position:absolute;
    
    }

    .div-inf-livro>.div-voltar .Voltar > svg > path{
        width: 56px !important;
        height: 40px !important;
        


    }
    
    .div-inf-livro>.div-voltar .Voltar > svg{
        width: 90px !important;
        height: 60px !important;
        top: 25px;
        left: 20px;
        position:absolute !important;
        z-index: 3000;
        color: #fff;


    }
    
    .div-inf-livro>.div-voltar{
        width: 56px !important;
        height: 40px !important;
        position: fixed !important;
        z-index: 3000;
        top: 12px;
        left: 10px;
    }
    
    .opcoesLivros{
        width: 1200px !important;
        height: 500px;
        margin: auto;
    }
    
    .opcoesLivros >.div-livros{
        width: 1200px !important;
        height: 500px;
        margin: auto;
    }

}
