.carrossel > div {

    width: 400px;
    height: 300px;
    position: relative;
    margin: 0px 10px;
    
}

 div > img {

    width: 500px;
    height: 300px;
    margin: 0px;
    top: 0px;

}



.div-Id-livro{
    width: 100%;
    height: 700px;
    background-color: #fff;
}

.div-inf-livro{
    width: 1200px;
    height: 700px;
    background-color: #fff;
    margin: auto;
    display: flex;
    position: relative;
}

.center-infor-livro{
    width: 800px;
    height: 400px;
    margin: auto;
    
}

.div-caixa-img{
    width: 800px;
    height: 300px;
    margin: auto;
    display: flex;
}
.div-caixa-img > img{
    width: 800px;
    height: 300px;
    margin: auto;
    display: flex;
}

.div-img-id > img{
    width: 350px;
    height: 300px;
    margin: auto;
    display: flex;
}

.card-genero{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom: 15px;
    font-size: 15px;
    text-align: center;
    color: tomato;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-date{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    top:5px;
    font-size: 15px;
    color: tomato;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.card-body{
    width: 250px !important;
    margin: auto;
    position: relative;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-body >.Btn-livro > button{
    padding: 10px;
    width: 150px;
    top: 15px;
    position: relative;
    right: 15px;
    border: solid 1px #fff;

}

.card-title{
    width: 250px;
    height: 30px;
    font-size: 15px;
    margin: auto;
    display: flex;
    position: relative;
    left: -15px;
    top: 15px;
}

.card-body >.card-text{
    width: 250px !important;
    height: 70px;
    font-size: 14px;
    left: -15px;
    position: relative;
    top: 15px;
    color: #fff;
    text-align: left;


}

.opcoesfilmes{
    width: 1200px;
    height: 500px;
    margin: auto;
}

.opcoesfilmes >.div-filmes{
    width: 1200px;
    height: 500px;
    margin: auto;
}


.card{
    width: 270px !important;
    height: 450px;
    font-size: 15px;
    background-color: #00337C;
    color: #fff;
    margin: 25px 0px;

}
.card > img{
    width: 268px !important;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    left: 0px;

}
.div-inf-id {
    width: 400px;
    height: 290px;
    background-color: rgb(61, 42, 165);
    margin: auto;
}
.div-inf-id > p {
      margin: auto;
      margin: 5px 0px;
}


.description-id{
    width: 800px;
    background-color: #fff;
    display: flex;
    top: 10px;
    position: relative;

}

.description-id > .div-descricao-id{
    width: 800px;
    position: relative;
}

.description-id > a > .button-livro-id{
    width: 300px;
    position: relative;
}

.description-id > a > .button-livro-id > button{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 0;
    margin: 10px;
}


.center-infor-filmes {
    width: 800px;
    height: 550px !important;
    margin: auto;
    position: relative;
    top: 40px;
}


.div-inf-atores{
    width: 800px;
    height: 150px;
    top: 18px !important;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: row;
    background-color: #00337C;
}


.div-inf-atores > div{
    width: 100px;
    height: 130px;
    top: -5px;
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: column;
}

.div-inf-atores > div > .Img-autor{
    width: 100px;
    height: 100px;
    top: 0px;
    display: flex;
    position: relative;
}

.div-inf-atores > div > .Img-autor > img{
    width: 100px;
    height: 100px;
    top: 0px;
    position: relative;
}

.div-inf-atores > div > .nome-autor{
    width: 100px;
    height: 35px;
    background-color: #fff;
    top: 0px;
    display: flex;
    position: relative;
    flex-direction: column;
   
}


.div-inf-atores > div > .nome-autor > h5{
    width: 100px;
    height: 20px;
    top: 0px;
    position: relative;
    font-size: 11px;
    text-align: center;
   
}


@media (max-width:425px) {


    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    
     div > img {
    
        width: 500px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
        background-color: #fff;
    }
    
    .div-inf-livro{
        width: 1200px;
        height: 700px;
        background-color: #fff;
        margin: auto;
        display: flex;
        position: relative;
    }
    
    .center-infor-livro{
        width: 800px;
        height: 400px;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 800px;
        height: 300px;
        margin: auto;
        display: flex;
    }
    .div-caixa-img > img{
        width: 800px;
        height: 300px;
        margin: auto;
        display: flex;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        margin: auto;
        display: flex;
    }
    
    .card-genero{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom: 15px;
        font-size: 15px;
        text-align: center;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-body{
        width: 250px !important;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 10px;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
    
    }
    
    .card-title{
        width: 250px;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px;
        top: 15px;
    }
    
    .card-body >.card-text{
        width: 250px !important;
        height: 70px;
        font-size: 14px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    .opcoesfilmes{
        width: 400px !important;
        height: 500px;
        margin: auto;
    }
    .div-filmes{
        width: 400px !important;
        height: 500px;
        margin: auto;
    }

    .div-Id-livro>.div-inf-livro>.center-infor-livro>.div-caixa-img {
        width: 425px;
        height: 1700px !important;
        margin: auto;
        flex-direction: column;
        display: flex;
        position: relative;
    }
    
    
    .opcoesfilmes >.div-filmes{
        width: 400px;
        height: 500px;
        margin: auto;
    }
    
    
    .card{
        width: 270px !important;
        height: 450px;
        font-size: 15px;
        background-color: #00337C;
        color: #fff;
        margin: 25px 0px;
    
    }
    .card > img{
        width: 268px !important;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        left: 0px;
    
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: rgb(61, 42, 165);
        margin: auto;
    }
    .div-inf-id > p {
          margin: auto;
          margin: 5px 0px;
    }
    
    
    .description-id{
        width: 800px;
        background-color: #fff;
        display: flex;
        top: 10px;
        position: relative;
    
    }
    
    .description-id > .div-descricao-id{
        width: 800px;
        position: relative;
    }
    
    .description-id > a > .button-livro-id{
        width: 300px;
        position: relative;
    }
    
    .description-id > a > .button-livro-id > button{
        width: 150px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        right: 0;
        margin: 10px;
    }
    
    
    .center-infor-filmes {
        width: 800px;
        height: 550px !important;
        margin: auto;
        position: relative;
        top: 40px;
    }
    
    
    .div-inf-atores{
        width: 405px !important;
        height: 130px !important;
        position: absolute !important;
        display: flex;
        margin: auto;
        left: 10px;
        flex-direction: row;
        overflow: scroll;
        bottom: -840px;
    }
    
    
    .div-inf-atores > div{
        width: 100px !important;
        height: 120px !important;
        top: -10px !important;
        display: flex;
        margin: auto 10px !important;
        position: relative;
        flex-direction: column;
    }
    
    .div-inf-atores > div > .Img-autor{
        width: 100px !important;
        height: 100px !important;
        top: 0px;
        display: flex;
        position: relative;
    }
    
    .div-inf-atores > div > .Img-autor > img{
        width: 100px !important;
        height: 100px !important;
        top: 0px;
        position: relative;
    }
    
    .div-inf-atores > div > .nome-autor{
        width: 100px !important;
        height: 12px !important;
        background-color: #fff;
        top: 8px !important;
        display: flex;
        position: relative;
        flex-direction: column;
       
    }
    
    
    .div-inf-atores > div > .nome-autor > h5{
        width: 100px !important;
        height: 15px !important;
        top: -7px !important;
        position: relative;
        font-size: 11px;
        background-color: #fff;
        text-align: center;
       
    }
    
    


}



@media (max-width:1000px) and (min-width:426px) {


    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    
     div > img {
    
        width: 500px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
        background-color: #fff;
    }
    
    .div-inf-livro{
        width: 1200px;
        height: 700px;
        background-color: #fff;
        margin: auto;
        display: flex;
        position: relative;
    }
    
    .center-infor-livro{
        width: 800px;
        height: 400px;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 800px;
        height: 300px;
        margin: auto;
        display: flex;
    }
    .div-caixa-img > img{
        width: 800px;
        height: 300px;
        margin: auto;
        display: flex;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        margin: auto;
        display: flex;
    }
    
    .card-genero{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom: 15px;
        font-size: 15px;
        text-align: center;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-body{
        width: 250px !important;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 10px;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
    
    }
    
    .card-title{
        width: 250px;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px;
        top: 15px;
    }
    
    .card-body >.card-text{
        width: 250px !important;
        height: 70px;
        font-size: 14px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    .opcoesfilmes{
        width: 400px !important;
        height: 500px;
        margin: auto;
    }
    .div-filmes{
        width: 400px !important;
        height: 500px;
        margin: auto;
    }

    .div-Id-livro>.div-inf-livro>.center-infor-livro>.div-caixa-img {
        width: 425px;
        height: 1700px !important;
        margin: auto;
        flex-direction: column;
        display: flex;
        position: relative;
    }
    
    
    .opcoesfilmes >.div-filmes{
        width: 400px;
        height: 500px;
        margin: auto;
    }
    
    
    .card{
        width: 270px !important;
        height: 450px;
        font-size: 15px;
        background-color: #00337C;
        color: #fff;
        margin: 25px 0px;
    
    }
    .card > img{
        width: 268px !important;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        left: 0px;
    
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: rgb(61, 42, 165);
        margin: auto;
    }
    .div-inf-id > p {
          margin: auto;
          margin: 5px 0px;
    }
    
    
    .description-id{
        width: 800px;
        background-color: #fff;
        display: flex;
        top: 10px;
        position: relative;
    
    }
    
    .description-id > .div-descricao-id{
        width: 800px;
        position: relative;
    }
    
    .description-id > a > .button-livro-id{
        width: 300px;
        position: relative;
    }
    
    .description-id > a > .button-livro-id > button{
        width: 150px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        right: 0;
        margin: 10px;
    }
    
    
    .center-infor-filmes {
        width: 800px;
        height: 550px !important;
        margin: auto;
        position: relative;
        top: 40px;
    }
    
    
    .div-inf-atores{
        width: 150px !important;
        height: 450px !important;
        position: absolute !important;
        display: flex;
        margin: auto;
        left: 100px;
        flex-direction: column !important;
        overflow: scroll;
        bottom: -350px;
    }
    
    
    .div-inf-atores > div{
        width: 100px !important;
        height: 120px !important;
        top: 10px !important;
        display: flex;
        margin:20px 25px !important;
        position: relative;
        flex-direction: column;
    }
    
    .div-inf-atores > div > .Img-autor{
        width: 100px !important;
        height: 100px !important;
        top: 0px;
        display: flex;
        position: relative;
    }
    
    .div-inf-atores > div > .Img-autor > img{
        width: 100px !important;
        height: 100px !important;
        top: 0px;
        position: relative;
    }
    
    .div-inf-atores > div > .nome-autor{
        width: 100px !important;
        height: 12px !important;
        background-color: #fff;
        top: 8px !important;
        display: flex;
        position: relative;
        flex-direction: column;
       
    }
    
    
    .div-inf-atores > div > .nome-autor > h5{
        width: 100px !important;
        height: 15px !important;
        top: -7px !important;
        position: relative;
        font-size: 11px;
        background-color: #fff;
        text-align: center;
       
    }
    
    


}

