 .carrossel > div {

    width: 400px;
    height: 300px;
    position: relative;
    margin: 0px 10px;
    
}

.destaque-livros > .carrossel{
    width: 1000px;
}

 div > img {

    width: 500px;
    height: 300px;
    margin: 0px;
    top: 0px;

}



.div-Id-livro{
    width: 100%;
    height: 700px;
}

.div-inf-livro{
    width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    position: relative;

}

.center-infor-livro{
    width: 800px;
    background-color: #00337C;
    margin: auto;
    
}

.div-caixa-img{
    width: 800px;
    background-color: transparent;
    display: flex;
    margin: 1px 1px;
    position: relative;

}
.div-caixa-img > img{
    width: 800px;
    height: 300px;
    background-color: transparent;
    display: flex;
    margin: 1px 1px;
    position: relative;
}

.div-img-id > img{
    width: 350px;
    height: 300px;
    background-color: transparent;
    display: flex;
    left: 1px;
    top: 1px;
    position: relative;}

.card >.card-body >.card-genero{
    width: 90px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom: 15px;
    font-size: 18px;
    text-align: center;
    color:green;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-date{
    width: 80px;
    height: 20px;
    position:absolute;
    right: 0;
    top:10px !important;
    font-size: 15px;
    color: tomato;
    text-align: center !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 1px 2px 1px #fff;
    border-radius: 5px;



}

.card-body{
    width: 300px;
    margin: auto;
    position: relative;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-body >.Btn-livro > button{
    padding: 10px;
    width: 150px;
    top: 15px;
    position: relative;
    right: 15px;
    border: solid 1px #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.card-title{
    width: 900px;
    height: 30px;
    font-size: 15px;
    margin: auto;
    display: flex;
    position: relative;
    left: -15px;
    top: 15px;
}

.card-text{
    width: 900px;
    height: 70px;
    font-size: 15px;
    left: -15px;
    position: relative;
    top: 15px;
    color: #fff;
    text-align: left;


}

.card-img-overlay{
    width: 1000px;
    margin: auto;

}


.Destaque {
    width: 1000px;
    height: 450px;
    font-size: 15px;
    color: #fff;
    margin: 25px 0px;
    display: flex;

}
.Destaque > div > img{
    width: 1000px;
    height: 325px !important;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    position: relative;
    right: 1px;

}
.Destaque > div {
    width: 1000px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    position: relative;
    right: 1px;

}
.Destaque > div > .card-img-overlay > .Btn-livro-destaque{

    top:10px;
    right: 0px;
    display: flex;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 130px;



}

.Destaque > div > .card-img-overlay > .Btn-livro-destaque > button{

    font-size: 13px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #fff;
    width: 130px;
    text-align: center;


}


.Destaque > div > .card-img-overlay{
    width: 900px;
    height: 280px;
    font-size: 10px;
    color: #000;
    top: 50px;
    margin: auto;
    left: 50px;
    

}
.card-genero{
    width: 100px;
    height: 50px;
    background-color: #fff;
    margin: auto;
    text-align: center !important;
    position: relative;

}

.Destaque > div > .card-img-overlay > h6{
   width: 136px;
   height: 30px;
   position: absolute;
   color: rgb(255, 255, 255);
   background-color: #0d6efd;
   font-size: 25px;
   top: -80px;
   left: -5px;
   border-radius: 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.div-inf-id {
    width: 400px;
    height: 290px;
    background-color: transparent !important;
    margin: auto;
    top: -10px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.div-inf-id > p {
      margin: auto;
      margin: 4px 0px;
      font-size: 15px;
      box-shadow: 0px 1px 0px #FFF;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.description-id{
    width: 800px;
    background-color: transparent !important;
    height: 80px;
}

.description-id > .div-descricao-id{
    width: 900px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 1px 0px #FFF;
    background-color: transparent;
    margin: 0px 10px ;
    color: #FFF;
    background-color: #00337C;
    font-size: 16px !important;
    display: flex;


}

.description-id > .div-descricao-id > h5{
   
    font-size: 15px !important;
    display: flex;


}

.description-id > a > .button-livro-id{
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 0px;
    position: absolute !important;
    left: 365px;
    top: -55px;
    font-size: 15px !important;


}

.description-id > a > .button-livro-id > button{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 0px;
    margin: 10px;
    position:absolute;

}


@media (max-width:425px) {

    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    
    .destaque-livros > .carrossel{
        width: 400px !important;
    }
    
     div > img {
    
        width: 400px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
    }
    
    .div-inf-livro{
        width: 1200px;
        height: 700px;
        margin: auto;
        display: flex;
        position: relative;
    
    }
    
    .center-infor-livro{
        width: 800px;
        background-color: #00337C;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 800px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    
    }
    .div-caixa-img > img{
        width: 800px;
        height: 300px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        background-color: transparent;
        display: flex;
        left: 1px;
        top: 1px;
        position: relative;}
    
    .card >.card-body >.card-genero{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom: 15px;
        font-size: 18px;
        text-align: center;
        color:green;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-body{
        width: 300px;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 10px;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-title{
        width: 900px;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px;
        top: 15px;
    }
    
    .card-text{
        width: 400px !important;
        height: 70px;
        font-size: 15px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    .card-img-overlay{
        width: 1000px;
        margin: auto;
    
    }
    
    
    .Destaque {
        width: 300px !important;
        height: 450px;
        font-size: 15px;
        color: #fff;
        margin: 25px 0px;
        display: flex;
    
    }
    .BrainhubCarousel__container, .BrainhubCarousel{
        width: 400px !important;
        display: none;

    }
    .Destaque > div > img{
        width: 250px !important;
        height: 325px !important;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        position: relative;
        right: 1px;
        display: flex;
    
    }
   
    
    .Destaque > div > .card-img-overlay > .Btn-livro-destaque{
    
        top:10px;
        right: 0px;
        display: flex;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    .Destaque > div > .card-img-overlay > .card-textt{
        width: 190px !important;
        left: -10px;
        top: 5px;


    }
    .BrainhubCarousel__arrows.BrainhubCarousel__arrowRight, .BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft{
      height: 150px;
    }
    .Destaque > div > .card-img-overlay > .card-text {
        text-align: left;
        width: 180px !important;
        color: rgb(255, 255, 255);
        position: relative;
        height: 100px !important;
        display: flex;
        top: 20px !important;
        font-size: 15px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 30px 5px !important;
    }
    
    .Destaque > div > .card-img-overlay > .Btn-livro-destaque > button{
    
       
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 1px solid #fff;
        position: relative;
        top: 30px;
        width: 85px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
    
    
    }
    
    
    .Destaque > div > .card-img-overlay{
        width:296px !important;
        height: 194px !important;
        font-size: 15px;
        color: #000;
        top: -1px !important;
        position: relative !important;
        margin: auto;
        left: 0px !important;
        
    
    }

    .Destaque > div {
        width:300px !important;
        font-size: 15px;
        color: #000;
        position: relative;
        right: 1px;
        height: 600px !important;
    
    }
    .card-genero{
        width: 100px;
        height: 50px;
        background-color: #fff;
        margin: auto;
        text-align: center !important;
        position: relative;
    
    }
    
    .Destaque > div > .card-img-overlay > .card-title{
       width: 136px;
       height: 30px;
       position: absolute;
       color: rgb(255, 255, 255);
       background-color: #0d6efd;
       font-size: 25px;
       top: -80px;
       left: -5px;
       border-radius: 5px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    
    }
    .Destaque > div > img ,.Destaque > div{
        width: 250px !important;
        height: 250px !important;
        box-shadow: 0px 0px 0px 1px black !important;

    }
    .Destaque > div{
        width: 250px !important;
        height: 440px !important;
        left: 1px;

        
    }
    .Destaque{
        
        height: 500px !important;

        
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: transparent !important;
        margin: auto;
        top: -10px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .div-inf-id > p {
          margin: auto;
          margin: 4px 0px;
          font-size: 15px;
          box-shadow: 0px 1px 0px #FFF;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .description-id{
        width: 800px;
        background-color: transparent !important;
        height: 80px;
    }
    
    .description-id > .div-descricao-id{
        width:400px !important;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 0px 1px 0px #FFF;
        background-color: transparent;
        margin: 0px 10px ;
        color: #FFF;
        background-color: #00337C;
        font-size: 16px !important;
        display: flex;
    
    
    }

    .Destaque > div > .card-img-overlay > .card-textt-data{

        position: relative;
        top: 150px;
        

    }
    .Destaque > div > .card-img-overlay > .card-genero{
        position: relative;
        top: 160px;
    }
    
    .description-id > .div-descricao-id > h5{
       
        font-size: 15px !important;
        display: flex;
    
    
    }
    
    .description-id > a > .button-livro-id{
        width: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 0px;
        position: absolute !important;
        left: 365px;
        top: -55px;
        font-size: 15px !important;
    
    
    }
    
    .description-id > a > .button-livro-id > button{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 0px;
        margin: 10px;
        position:absolute;
    
    }
}




@media (max-width:1000px) and (min-width:426px) {

    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    .carrossel-mobile {
        display: block;
    }
    
    .destaque-livros > .carrossel{
        width: 400px !important;
    }
    
     div > img {
    
        width: 400px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
    }
    
    .div-inf-livro{
        width: 1200px;
        height: 700px;
        margin: auto;
        display: flex;
        position: relative;
    
    }
    
    .center-infor-livro{
        width: 800px;
        background-color: #00337C;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 800px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    
    }
    .div-caixa-img > img{
        width: 800px;
        height: 300px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        background-color: transparent;
        display: flex;
        left: 1px;
        top: 1px;
        position: relative;}
    
    .card >.card-body >.card-genero{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom: 15px;
        font-size: 18px;
        text-align: center;
        color:green;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-body{
        width: 300px;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 10px;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-title{
        width: 900px;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px;
        top: 15px;
    }
    
    .card-text{
        width: 400px !important;
        height: 70px;
        font-size: 15px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    .card-img-overlay{
        width: 1000px;
        margin: auto;
    
    }
    
    
    .Destaque {
        width: 300px !important;
        height: 450px;
        font-size: 15px;
        color: #fff;
        margin: 25px 0px;
        display: flex;
    
    }
    .BrainhubCarousel__container, .BrainhubCarousel{
        width: 400px !important;
        display: none;

    }
    .Destaque > div > img{
        width: 250px !important;
        height: 325px !important;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        position: relative;
        right: 1px;
        display: flex;
    
    }
   
    
    .Destaque > div > .card-img-overlay > .Btn-livro-destaque{
    
        top:10px;
        right: 0px;
        display: flex;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    .Destaque > div > .card-img-overlay > .card-textt{
        width: 190px !important;
        left: -10px;
        top: 5px;


    }
    .BrainhubCarousel__arrows.BrainhubCarousel__arrowRight, .BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft{
      height: 150px;
    }
    .Destaque > div > .card-img-overlay > .card-text {
        text-align: left;
        width: 180px !important;
        color: rgb(255, 255, 255);
        position: relative;
        height: 100px !important;
        display: flex;
        top: 20px !important;
        font-size: 15px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 30px 5px !important;
    }
    
    .Destaque > div > .card-img-overlay > .Btn-livro-destaque > button{
    
       
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 1px solid #fff;
        position: relative;
        top: 30px;
        width: 85px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
    
    
    }
    
    
    .Destaque > div > .card-img-overlay{
        width:296px !important;
        height: 194px !important;
        font-size: 15px;
        color: #000;
        top: -1px !important;
        position: relative !important;
        margin: auto;
        left: 0px !important;
        
    
    }

    .Destaque > div {
        width:300px !important;
        font-size: 15px;
        color: #000;
        position: relative;
        right: 1px;
        height: 600px !important;
    
    }
    .card-genero{
        width: 100px;
        height: 50px;
        background-color: #fff;
        margin: auto;
        text-align: center !important;
        position: relative;
    
    }
    
    .Destaque > div > .card-img-overlay > .card-title{
       width: 136px;
       height: 30px;
       position: absolute;
       color: rgb(255, 255, 255);
       background-color: #0d6efd;
       font-size: 25px;
       top: -80px;
       left: -5px;
       border-radius: 5px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    
    }
    .Destaque > div > img ,.Destaque > div{
        width: 250px !important;
        height: 250px !important;
        box-shadow: 0px 0px 0px 1px black !important;

    }
    .Destaque > div{
        width: 250px !important;
        height: 440px !important;
        left: 1px;

        
    }
    .Destaque{
        
        height: 500px !important;

        
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: transparent !important;
        margin: auto;
        top: -10px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .div-inf-id > p {
          margin: auto;
          margin: 4px 0px;
          font-size: 15px;
          box-shadow: 0px 1px 0px #FFF;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .description-id{
        width: 800px;
        background-color: transparent !important;
        height: 80px;
    }
    
    .description-id > .div-descricao-id{
        width:400px !important;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 0px 1px 0px #FFF;
        background-color: transparent;
        margin: 0px 10px ;
        color: #FFF;
        background-color: #00337C;
        font-size: 16px !important;
        display: flex;
    
    
    }

    .Destaque > div > .card-img-overlay > .card-textt-data{

        position: relative;
        top: 150px;
        

    }
    .Destaque > div > .card-img-overlay > .card-genero{
        position: relative;
        top: 160px;
    }
    
    .description-id > .div-descricao-id > h5{
       
        font-size: 15px !important;
        display: flex;
    
    
    }
    
    .description-id > a > .button-livro-id{
        width: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 0px;
        position: absolute !important;
        left: 365px;
        top: -55px;
        font-size: 15px !important;
    
    
    }
    
    .description-id > a > .button-livro-id > button{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 0px;
        margin: 10px;
        position:absolute;
    
    }
}







@media (max-width:1279px) and (min-width:1001px) {

    .carrossel > div {

        width: 400px;
        height: 300px;
        position: relative;
        margin: 0px 10px;
        
    }
    
    .destaque-livros > .carrossel{
        width: 400px !important;
    }
    
     div > img {
    
        width: 400px;
        height: 300px;
        margin: 0px;
        top: 0px;
    
    }
    
    
    
    .div-Id-livro{
        width: 100%;
        height: 700px;
    }
    
    .div-inf-livro{
        width: 900px !important;
        height: 700px;
        margin: auto;
        display: flex;
        position: relative;
    
    }
    
    .center-infor-livro{
        width: 900px;
        background-color: #00337C;
        margin: auto;
        
    }
    
    .div-caixa-img{
        width: 900px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    
    }
    .div-caixa-img > img{
        width: 900px;
        height: 300px;
        background-color: transparent;
        display: flex;
        margin: 1px 1px;
        position: relative;
    }
    
    .div-img-id > img{
        width: 350px;
        height: 300px;
        background-color: transparent;
        display: flex;
        left: 1px;
        top: 1px;
        position: relative;}
    
    .card >.card-body >.card-genero{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        bottom: 15px;
        font-size: 18px;
        text-align: center;
        color:green;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-date{
        width: 90px;
        height: 20px;
        position:absolute;
        right: 0;
        top:5px;
        font-size: 15px;
        color: tomato;
        text-align: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-body{
        width: 300px;
        margin: auto;
        position: relative;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .card-body >.Btn-livro > button{
        padding: 10px;
        width: 150px;
        top: 15px;
        position: relative;
        right: 15px;
        border: solid 1px #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    .card-title{
        width: 900px;
        height: 30px;
        font-size: 15px;
        margin: auto;
        display: flex;
        position: relative;
        left: -15px;
        top: 15px;
    }
    
    .card-text{
        width: 400px !important;
        height: 70px;
        font-size: 15px;
        left: -15px;
        position: relative;
        top: 15px;
        color: #fff;
        text-align: left;
    
    
    }
    
    .card-img-overlay{
        width: 1000px;
        margin: auto;
    
    }
    
    
    .Destaque {
        width: 600px !important;
        height: 450px;
        font-size: 15px;
        color: #fff;
        margin: 25px 0px;
        display: flex;
    
    }
    .carrossel-livro-destaque>.destaque-livros>.BrainhubCarousel__container{
        width: 600px !important;
        margin: auto;

    }
    .carrossel-livro-destaque>.destaque-livros>.BrainhubCarousel__container > .BrainhubCarousel {
        width: 600px !important;
        margin: auto;

    }
    .caixaLivros>.BrainhubCarousel__container> .BrainhubCarousel{
        width: 400px !important;
        margin: auto;

    }
    .caixaLivros>.BrainhubCarousel__container{
        width: 400px !important;
        margin: auto;

    }
    .Destaque > div > img{
        width: 250px !important;
        height: 325px !important;
        font-size: 15px;
        background-color: #fff;
        color: #000;
        position: relative;
        right: 1px;
        display: flex;
    
    }
   
    
    .Destaque > div > .card-img-overlay > .Btn-livro-destaque{
    
        top:10px;
        right: 0px;
        display: flex;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    .Destaque > div > .card-img-overlay > .card-textt{
        width: 190px !important;
        left: -10px;
        top: 5px;


    }
    .BrainhubCarousel__arrows.BrainhubCarousel__arrowRight, .BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft{
      height: 150px;
      width: 60px;
    }
    .Destaque > div > .card-img-overlay > .card-text {
        text-align: left;
        width: 250px !important;
        color: rgb(255, 255, 255);
        position: relative;
        height: 150px !important;
        display: flex;
        top: 20px !important;
        font-size: 12px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 5px 5px !important;
    }
    
    .Destaque > div > .card-img-overlay > .Btn-livro-destaque > button{
    
       
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 1px solid #fff;
        position: relative;
        top: 30px;
        width: 85px;
        padding: 15px;
        text-align: center;
        font-size: 15px;
    
    
    }
    
    
    .Destaque > div > .card-img-overlay{
        width:100% !important;
        height: 200px !important;
        font-size: 15px;
        color: #000;
        top: -10px !important;
        position: relative !important;
        margin: auto;
        left: 0px !important;
        
    
    }

    .Destaque > div {
        width:800px !important;
        font-size: 15px;
        color: #000;
        position: relative;
        right: 1px;
        height: 600px !important;
        background-color: yellowgreen;
    
    }
    .card-genero{
        width: 100px;
        height: 50px;
        background-color: #fff;
        margin: auto;
        text-align: center !important;
        position: relative;
    
    }
    
    .Destaque > div > .card-img-overlay > .card-title{
       width: 200px;
       height: 30px;
       position: absolute;
       color: rgb(255, 255, 255);
       background-color: #0d6efd;
       font-size: 25px;
       top: -80px;
       left: -5px;
       border-radius: 5px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    
    }
    .Destaque > div > img ,.Destaque > div{
        width: 900px !important;
        height: 290px !important;
        box-shadow: 0px 0px 0px 1px black;

    }
    .Destaque > div{
        width: 900px !important;
        height: 490px !important;
        left: 0px;
        background-color: transparent !important;

        
    }
    .Destaque{
        width: 900px !important;
    
        height: 500px !important;

        
    }
    .div-inf-id {
        width: 400px;
        height: 290px;
        background-color: transparent !important;
        margin: auto;
        top: -10px;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .div-inf-id > p {
          margin: auto;
          margin: 4px 0px;
          font-size: 15px;
          box-shadow: 0px 1px 0px #FFF;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .description-id{
        width: 800px;
        background-color: transparent !important;
        height: 80px;
    }
    
    .description-id > .div-descricao-id{
        width:400px !important;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 0px 1px 0px #FFF;
        background-color: transparent;
        margin: 0px 10px ;
        color: #FFF;
        background-color: #00337C;
        font-size: 16px !important;
        display: flex;
    
    
    }

    .Destaque > div > .card-img-overlay > .card-textt-data{

        position: relative;
        top: 150px;
        

    }
    .Destaque > div > .card-img-overlay > .card-genero{
        position: relative;
        top: 160px;
    }
    
    .description-id > .div-descricao-id > h5{
       
        font-size: 15px !important;
        display: flex;
    
    
    }
    
    .description-id > a > .button-livro-id{
        width: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 0px;
        position: absolute !important;
        left: 365px;
        top: -55px;
        font-size: 15px !important;
    
    
    }
    
    .description-id > a > .button-livro-id > button{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 0px;
        margin: 10px;
        position:absolute;
    
    }
}


